*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    padding: 0 115px;
}
button{
    cursor: pointer;
}

body{
    background-color: rgba(43, 43, 43, 1);
}






